{% extends "base.html" %}
{% block title %}
    Bosh sahifa
{% endblock %}
{% block content %}
    <div class="row" style="margin-top: 100px;">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form class="form-group" action="/login" method="POST">
                <p>Ism
                    <input class="form-control" type="text" name="ism"/></p>
                <p>Yosh
                    <input class="form-control" type="integer" name="yosh"/></p>
                <p><input class="form-control btn btn-primary" type="submit" value="Saqlash"/></p>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>

{% endblock %}